# n8n
N8N_ENCRYPTION_KEY="change_this_to_a_long_random_string"
N8N_USER="admin@example.com"
N8N_PASSWORD="change_me_strong"

# Custom env vars for use inside credentials:
OPENROUTER_API_KEY=""
QDRANT_REST_URL=""
QDRANT_API_KEY=""